function Bullet.new 0
push constant 14
call Memory.alloc 1
pop pointer 0
push argument 0
call Pair.getX 1
push argument 0
call Pair.getY 1
call Pair.new 2
pop this 0
push argument 1
call Pair.getX 1
push argument 1
call Pair.getY 1
call Pair.new 2
pop this 1
push constant 2
pop this 2
push argument 2
pop this 12
push constant 1
pop this 3
call RandomGenerator.new 0
pop this 13
call Util.getBulletWidth 0
pop this 8
call Util.getBulletHeight 0
pop this 9
push constant 0
pop this 4
push pointer 0
return
function Bullet.shouldBounce 0
push argument 0
pop pointer 0
push this 12
return
function Bullet.draw 0
push argument 0
pop pointer 0
push this 0
call Pair.getX 1
call Util.isValidX 1
push this 0
call Pair.getY 1
call Util.isValidY 1
and
push this 0
call Pair.getY 1
push this 9
add
call Util.isValidY 1
and
push this 0
call Pair.getX 1
push this 8
add
call Util.isValidY 1
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 8
push this 9
push constant 0
not
call Util.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Bullet.onEdge 0
push argument 0
pop pointer 0
push this 0
call Util.onEdge 1
return
function Bullet.move 1
push argument 0
pop pointer 0
push this 0
call Pair.getX 1
push this 0
call Pair.getY 1
call Pair.new 2
pop local 0
push local 0
call Util.onEdge 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 12
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Bullet.bounce 1
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
call Bullet.disappear 1
pop temp 0
label IF_END1
label IF_FALSE0
push local 0
push this 1
call Pair.plusEquals 2
pop temp 0
push local 0
call Pair.getX 1
push this 0
call Pair.getX 1
eq
not
push this 0
call Pair.getY 1
push local 0
call Pair.getY 1
eq
not
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Bullet.undraw 1
pop temp 0
label IF_FALSE2
push this 0
push local 0
call Pair.assign 2
pop temp 0
push local 0
call Pair.dispose 1
pop temp 0
push pointer 0
call Bullet.draw 1
pop temp 0
push this 0
return
function Bullet.undraw 0
push argument 0
pop pointer 0
push this 0
push constant 2
push constant 2
push constant 0
call Util.drawRectangle 4
pop temp 0
push constant 0
return
function Bullet.bounce 0
push argument 0
pop pointer 0
push this 12
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 13
push this 2
neg
push this 2
call RandomGenerator.generate 3
pop this 6
push this 13
push this 2
neg
push this 2
call RandomGenerator.generate 3
pop this 7
push this 1
push this 1
call Pair.getX 1
neg
push this 6
add
call Pair.setX 2
pop temp 0
push this 1
push this 1
call Pair.getY 1
neg
push this 7
add
push this 3
call Math.multiply 2
call Pair.setY 2
pop temp 0
push this 1
call Pair.getX 1
call Util.bulletSpeed 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Util.bulletSpeed 0
call Pair.setX 2
pop temp 0
label IF_FALSE1
push this 1
call Pair.getY 1
call Util.bulletSpeed 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Util.bulletSpeed 0
call Pair.setY 2
pop temp 0
label IF_FALSE2
push this 1
call Pair.getX 1
call Util.bulletSpeed 0
neg
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
call Util.bulletSpeed 0
neg
call Pair.setX 2
pop temp 0
label IF_FALSE3
push this 1
call Pair.getY 1
call Util.bulletSpeed 0
neg
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
call Util.bulletSpeed 0
neg
call Pair.setY 2
pop temp 0
label IF_FALSE4
push this 1
call Pair.getX 1
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push constant 1
call Pair.setX 2
pop temp 0
label IF_FALSE5
push this 1
call Pair.getY 1
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push constant 1
call Pair.setY 2
pop temp 0
label IF_FALSE6
push this 3
push constant 1
neg
call Math.multiply 2
pop this 3
push constant 0
return
function Bullet.disappear 0
push argument 0
pop pointer 0
push pointer 0
call Bullet.undraw 1
pop temp 0
push constant 0
return
function Bullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Bullet.undraw 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bullet.inCollisionRival 0
push argument 0
pop pointer 0
push this 0
call Pair.getX 1
push this 8
add
push argument 1
call Rival.getX 1
gt
push this 0
call Pair.getX 1
push argument 1
call Rival.getX 1
push argument 1
call Rival.getWidth 1
add
lt
and
push this 0
call Pair.getY 1
push this 9
add
push argument 1
call Rival.getY 1
gt
and
push this 0
call Pair.getY 1
push argument 1
call Rival.getY 1
push argument 1
call Rival.getHeight 1
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Bullet.inCollisionPlayer 0
push argument 0
pop pointer 0
push this 0
call Pair.getX 1
push this 8
add
push argument 1
call Player.getX 1
gt
push this 0
call Pair.getX 1
push argument 1
call Player.getX 1
push argument 1
call Player.getWidth 1
add
lt
and
push this 0
call Pair.getY 1
push this 9
add
push argument 1
call Player.getY 1
gt
and
push this 0
call Pair.getY 1
push argument 1
call Player.getY 1
push argument 1
call Player.getHeight 1
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Bullet.getPos 0
push argument 0
pop pointer 0
push this 0
return
function Bullet.getVelocity 0
push argument 0
pop pointer 0
push this 1
return
