function Game.new 0
push constant 14
call Memory.alloc 1
pop pointer 0
call Util.maxX 0
push constant 2
call Math.divide 2
push constant 1
add
call Util.maxY 0
push constant 2
call Math.divide 2
call Pair.new 2
call Player.new 1
pop this 4
push constant 3
pop this 3
call LinkedListBullets.new 0
pop this 0
call RandomGenerator.new 0
pop this 13
push this 3
call Array.new 1
pop this 1
push constant 200
call BulletsArray.new 1
pop this 0
push constant 0
push this 1
add
call Util.maxX 0
push constant 4
call Math.divide 2
call Util.maxY 0
push constant 4
call Math.divide 2
call Pair.new 2
push constant 100
push constant 0
call Rival.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
pop this 12
push constant 1
push this 1
add
call Util.maxX 0
call Util.maxY 0
call Pair.new 2
push constant 5
push constant 5
call Rival.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
call Util.maxX 0
push constant 4
call Math.divide 2
call Util.maxY 0
push constant 2
call Math.divide 2
call Pair.new 2
push constant 90
push constant 5
call Rival.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 2
push pointer 0
return
function Game.run 1
push argument 0
pop pointer 0
push constant 0
pop this 5
label WHILE_EXP0
push this 5
push this 3
lt
not
if-goto WHILE_END0
push this 5
push this 1
add
pop pointer 1
push that 0
pop this 11
push this 11
call Rival.draw 1
pop temp 0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP0
label WHILE_END0
push this 4
call Player.draw 1
pop temp 0
label WHILE_EXP1
push constant 0
not
not
if-goto WHILE_END1
push this 0
call LinkedListBullets.getHead 1
pop this 6
push constant 0
pop this 7
label WHILE_EXP2
push this 6
push constant 0
eq
not
not
if-goto WHILE_END2
push this 6
call BulletNode.getBullet 1
pop this 10
push this 10
call Bullet.move 1
pop temp 0
push this 10
call Bullet.onEdge 1
push this 10
call Bullet.shouldBounce 1
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 7
call LinkedListBullets.erase 2
pop this 6
push constant 0
pop this 10
goto IF_END0
label IF_FALSE0
push this 6
pop this 7
push this 6
call BulletNode.getNext 1
pop this 6
label IF_END0
push this 10
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 10
push this 4
call Bullet.inCollisionPlayer 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
label IF_FALSE1
label WHILE_EXP3
push this 5
push this 3
lt
not
if-goto WHILE_END3
push this 5
push this 1
add
pop pointer 1
push that 0
push constant 0
eq
not
push this 10
push constant 0
eq
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 5
push this 1
add
pop pointer 1
push that 0
pop this 11
push this 10
push this 11
call Bullet.inCollisionRival 2
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 11
call Rival.die 1
pop temp 0
push this 5
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
label IF_FALSE3
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP3
label WHILE_END3
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop this 5
label WHILE_EXP4
push this 5
push this 3
lt
not
if-goto WHILE_END4
push this 5
push this 1
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 5
push this 1
add
pop pointer 1
push that 0
pop this 11
push this 11
call Rival.move 1
pop temp 0
push this 13
push constant 0
push constant 100
call RandomGenerator.generate 3
push this 12
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
push this 11
push this 4
call Player.getPos 1
call Rival.shoot 2
call LinkedListBullets.push 2
pop temp 0
label IF_FALSE6
label IF_FALSE5
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP4
label WHILE_END4
call Keyboard.keyPressed 0
call Util.space 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
push this 4
call Player.shoot 1
call LinkedListBullets.push 2
pop temp 0
label IF_FALSE7
push this 4
call Keyboard.keyPressed 0
call Player.move 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
