function Player.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
call Pair.getX 1
push argument 0
call Pair.getY 1
call Pair.new 2
pop this 0
call Util.getPersonWidth 0
pop static 0
call Util.getPersonHeight 0
pop static 1
push constant 2
push constant 2
call Pair.new 2
pop static 2
call Util.bulletSpeed 0
push constant 0
call Pair.new 2
pop static 3
push this 0
call Pair.getX 1
push static 0
add
push this 0
call Pair.getY 1
call Pair.new 2
pop this 1
push pointer 0
return
function Player.move 1
push argument 0
pop pointer 0
push this 0
call Pair.getX 1
push this 0
call Pair.getY 1
call Pair.new 2
pop local 0
push argument 1
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push static 2
call Pair.getX 1
neg
call Pair.updateX 2
pop temp 0
push this 0
call Pair.getX 1
call Util.getBulletWidth 0
sub
push this 0
call Pair.getY 1
call Pair.new 2
pop this 1
push static 3
call Util.bulletSpeed 0
neg
call Pair.setX 2
pop temp 0
push static 3
push constant 0
call Pair.setY 2
pop temp 0
label IF_FALSE0
push argument 1
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push static 2
call Pair.getY 1
neg
call Pair.updateY 2
pop temp 0
push this 0
call Pair.getX 1
push this 0
call Pair.getY 1
call Util.getBulletHeight 0
sub
call Pair.new 2
pop this 1
push static 3
push constant 0
call Pair.setX 2
pop temp 0
push static 3
call Util.bulletSpeed 0
neg
call Pair.setY 2
pop temp 0
label IF_FALSE1
push argument 1
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push static 2
call Pair.getX 1
call Pair.updateX 2
pop temp 0
push this 0
call Pair.getX 1
push static 0
add
push this 0
call Pair.getY 1
call Pair.new 2
pop this 1
push static 3
call Util.bulletSpeed 0
call Pair.setX 2
pop temp 0
push static 3
push constant 0
call Pair.setY 2
pop temp 0
label IF_FALSE2
push argument 1
push constant 133
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push static 2
call Pair.getY 1
call Pair.updateY 2
pop temp 0
push this 0
call Pair.getX 1
push this 0
call Pair.getY 1
push static 1
add
call Pair.new 2
pop this 1
push static 3
push constant 0
call Pair.setX 2
pop temp 0
push static 3
call Util.bulletSpeed 0
call Pair.setY 2
pop temp 0
label IF_FALSE3
push this 0
call Pair.getX 1
push local 0
call Pair.getX 1
eq
not
push this 0
call Pair.getY 1
push local 0
call Pair.getY 1
eq
not
or
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Player.undraw 1
pop temp 0
label IF_FALSE4
push this 0
push local 0
call Pair.assign 2
pop temp 0
push pointer 0
call Player.draw 1
pop temp 0
push local 0
call Pair.dispose 1
pop temp 0
push this 0
return
function Player.draw 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Pair.getX 1
push this 0
call Pair.getY 1
call Player.drawBase 3
pop temp 0
push pointer 0
push this 0
call Pair.getX 1
push constant 2
add
push this 0
call Pair.getY 1
call Player.drawBase 3
pop temp 0
push pointer 0
push this 0
call Pair.getX 1
push this 0
call Pair.getY 1
push constant 2
add
call Player.drawBase 3
pop temp 0
push pointer 0
push this 0
call Pair.getX 1
push constant 2
add
push this 0
call Pair.getY 1
push constant 2
add
call Player.drawBase 3
pop temp 0
push constant 0
return
function Player.drawBase 0
push argument 0
pop pointer 0
call Util.getScreenAddress 0
push argument 1
call Util.scale2Screen 1
push constant 16
call Math.divide 2
add
push argument 2
call Util.scale2Screen 1
push constant 32
call Math.multiply 2
add
pop this 2
push this 2
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 32
add
push constant 21931
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 64
add
push constant 11221
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 96
add
push constant 22379
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 128
add
push constant 12021
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 160
add
push constant 24443
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 192
add
push constant 16125
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 224
add
push constant 30039
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 256
add
push constant 27311
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 288
add
push constant 16253
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 320
add
push constant 24315
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 352
add
push constant 12149
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 384
add
push constant 22251
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 416
add
push constant 11221
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 448
add
push constant 21931
neg
call Memory.poke 2
pop temp 0
push this 2
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.undraw 0
push argument 0
pop pointer 0
push this 0
push static 0
push static 1
push constant 0
call Util.drawRectangle 4
pop temp 0
push constant 0
return
function Player.shoot 1
push argument 0
pop pointer 0
push this 1
push static 3
push constant 0
not
call Bullet.new 3
pop local 0
push local 0
return
function Player.die 0
push argument 0
pop pointer 0
push pointer 0
call Player.undraw 1
pop temp 0
push static 2
call Pair.dispose 1
pop temp 0
push static 3
call Pair.dispose 1
pop temp 0
push this 0
call Pair.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.getPos 0
push argument 0
pop pointer 0
push this 0
return
function Player.getX 0
push argument 0
pop pointer 0
push this 0
call Pair.getX 1
return
function Player.getY 0
push argument 0
pop pointer 0
push this 0
call Pair.getY 1
return
function Player.getWidth 0
push argument 0
pop pointer 0
push static 0
return
function Player.getHeight 0
push argument 0
pop pointer 0
push static 1
return
